
{{define "pagination"}}

{{/* .page current page number */}}
{{/* .total_page total pages */}}
{{/* .prefix url prefix */}}

{{ $prefix := .prefix}}

{{if gt .total_page 0}}

    <nav aria-label="page navigation" class="mt-2">
        <ul class="pagination">
            {{if eq .page 0}}<li class="page-item disabled">{{else}}<li class="page-item">{{end}}
                <a class="page-link" href="{{addParameter $prefix "page" (minus .page 1)}}">{{tr "previous_page"}}</a>
            </li>

            {{$total_page := .total_page}}
            {{$page := .page}}

            {{if gt (minus .page 2) 0}}
            <li class="page-item"><a class="page-link" href="{{addParameter $prefix "page" '0'}}">1</a></li>
            {{end}}

            {{if gt (minus .page 2) 1}}
            <li class="page-item"><div class="page-link">...</div></li>
            {{end}}

            {{range loop (minus .page 2) (add .page 3)}}
                {{if lt . 0}} {{continue}} {{end}}
                {{if ge . $total_page}} {{continue}} {{end}}

                {{if eq . $page}}
                    <li class="page-item active"><a class="page-link" href="{{addParameter $prefix "page" .}}">{{add . 1}}</a></li>
                {{else}}
                    <li class="page-item"><a class="page-link" href="{{addParameter $prefix "page" .}}">{{add . 1}}</a></li>
                {{end}}
            {{end}}

            {{if lt (add .page 4) .total_page}}
            <li class="page-item"><div class="page-link">...</div></li>
            {{end}}

            {{if lt (add .page 3) .total_page}}
            <li class="page-item"><a class="page-link" href="{{addParameter $prefix "page" (minus .total_page 1)}}">{{.total_page}}</a></li>
            {{end}}


            {{if eq (minus .total_page 1) .page}}<li class="page-item disabled">{{else}}<li class="page-item">{{end}}
                <a class="page-link" href="{{addParameter $prefix "page" (add .page 1)}}">{{tr "next_page"}}</a>
            </li>
        </ul>
    </nav>

{{end}}


{{end}}