{{template "header" .}}

{{template "unverified_email" .}}

<h1>{{tr "account_settings"}}</h1>

<div class="card" id="change-password">
    <div class="card-header">
        {{tr "change_password"}}
    </div>
    <div class="card-body">
        <form action="/dashboard/change-password" method="post">

            {{template "csrf" .csrf_token}}

            {{if .user.Password}}
            <div class="mb-3">
                <label class="form-label">{{tr "current_password"}}</label>
                <input type="password" class="form-control" name="current">
            </div>
            {{else}}
            <p>{{tr "no_password_set"}}</p>
            {{end}}

            <div class="mb-3">
                <label class="form-label">{{tr "new_password"}}</label>
                <input type="password" class="form-control" name="password1">
                <div class="form-text">{{tr "password_prompt"}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">{{tr "confirm_password"}}</label>
                <input type="password" class="form-control" name="password2">
            </div>

            {{template "captcha" .}}

            <button type="submit" class="btn btn-primary">{{tr "submit"}}</button>
        </form>
    </div>
</div>

<div class="card mt-3" id="change-username">
    <div class="card-header">
        {{tr "change_username"}}
    </div>
    <div class="card-body">
        <form action="/dashboard/change-username" method="post">

            {{template "csrf" .csrf_token}}

            <div class="mb-3">
                <label class="form-label">{{tr "username"}}</label>
                <input type="text" class="form-control" name="username" value="{{.user.Username}}">
            </div>

            <button type="submit" class="btn btn-primary">{{tr "submit"}}</button>
        </form>
    </div>
</div>

<div class="card mt-3" id="change-email">
    <div class="card-header">
        {{tr "change_email"}}
    </div>
    <div class="card-body">
        <form action="/dashboard/change-email" method="post">

            {{template "csrf" .csrf_token}}

            <div class="mb-3">
                <label class="form-label">{{tr "email"}}</label>
                <input type="email" class="form-control" name="email" value="{{.user.Email}}">
            </div>

            {{template "captcha" .}}

            <button type="submit" class="btn btn-primary">{{tr "submit"}}</button>
        </form>
    </div>
</div>

{{if or .google_login .github_login}}
<div class="card my-3" id="social-login">
    <div class="card-header">
        {{tr "social_logins"}}
    </div>
    <div class="card-body">

        {{if eq .user.Password ""}}
        {{tr "password_must_be_set"}}
        {{else}}

        {{if .google_login}}
        <div class="d-flex align-items-center">
            <p class="mb-0">Google account</p>
            {{if .google_linked}}
            <form method="post" action="/dashboard/unlink">
                {{template "csrf" .csrf_token}}
                <button type="submit" name="type" value="google" class="btn btn-link">{{tr "unlink"}}</button>
            </form>
            {{else}}
            <a class="btn btn-link" href="/login/google">{{tr "link"}}</a>
            {{end}}
        </div>
        {{end}}

        {{if .github_login}}
        <div class="d-flex align-items-center">
            <p class="mb-0">Github account</p>
            {{if .github_linked}}
            <form method="post" action="/dashboard/unlink">
                {{template "csrf" .csrf_token}}
                <button type="submit" name="type" value="github" class="btn btn-link">{{tr "unlink"}}</button>
            </form>
            {{else}}
            <a class="btn btn-link" href="/login/github">{{tr "link"}}</a>
            {{end}}
        </div>
        {{end}}

        {{end}}

    </div>
</div>
{{end}}

{{template "footer"}}