{{template "header" .}}

<h1>{{tr "edit_user_group"}} {{.group.Id}}</h1>


<form method="post">

    {{template "csrf" .csrf_token}}
    
    <div class="mb-3">
        <label class="form-label">{{tr "name"}}</label>
        <input type="text" class="form-control" value="{{.group.Name}}" name="name">
    </div>

    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" name="allow_upload" id="check-allow-upload">
        <label class="form-check-label">{{tr "allow_upload"}}</label>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "max_file_size"}}</label>
        <input type="text" class="form-control" value="{{.group.MaxFileSize}}" name="max_file_size">
    </div>

    <!--
    
    Hide these settings as they are not implemented

    <div class="mb-3">
        <label class="form-label">{{tr "upload_per_minute"}}</label>
        <input type="text" class="form-control" value="{{.group.UploadPerMinute}}" name="upload_per_minute">
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "upload_per_hour"}}</label>
        <input type="text" class="form-control" value="{{.group.UploadPerHour}}" name="upload_per_hour">
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "upload_per_day"}}</label>
        <input type="text" class="form-control" value="{{.group.UploadPerDay}}" name="upload_per_day">
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "upload_per_month"}}</label>
        <input type="text" class="form-control" value="{{.group.UploadPerMonth}}" name="upload_per_month">
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "total_uploads"}}</label>
        <input type="text" class="form-control" value="{{.group.TotalUpload}}" name="total_uploads">
    </div>

    -->

    <div class="mb-3">
        <label class="form-label">{{tr "max_retention_seconds"}}</label>
        <input type="text" class="form-control" value="{{.group.MaxRetentionSeconds}}" name="max_retention_seconds">
        <div class="form-text">{{tr "max_retention_seconds_desc"}}</div>
    </div>

    <button class="btn btn-primary">{{tr "save"}}</button>

    <script>
        document.getElementById("check-allow-upload").checked = "{{.group.AllowUpload}}" === "true";
    </script>
</form>

{{template "footer" .}}