{{template "header" .}}

{{template "unverified_email" .}}

<h1>{{tr "admin_settings"}}</h1>

<form method="post" action="/admin/settings" autocomplete="off">

    {{template "csrf" .csrf_token}}

    <!-- captcha -->
    <div class="mb-3">
        <label class="form-label">{{tr "captcha"}}</label>
        <select id="select-captcha" class="form-select" name="CAPTCHA">
            <option value="recaptcha">reCAPTCHA</option>
            <option value="hcaptcha">hCaptcha</option>
            <option value="none">{{tr "disabled"}}</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "recaptcha_site_key"}}</label>
        <input type="text" class="form-control" name="RECAPTCHA_CLIENT" value="{{.setting.RECAPTCHA_CLIENT}}">
        <div class="form-text">{{tr "recaptcha_site_key_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "recaptcha_secret_key"}}</label>
        <input type="text" class="form-control" name="RECAPTCHA_SERVER" value="{{.setting.RECAPTCHA_SERVER}}">
        <div class="form-text">{{tr "recaptcha_secret_key_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "hcaptcha_site_key"}}</label>
        <input type="text" class="form-control" name="HCAPTCHA_CLIENT" value="{{.setting.HCAPTCHA_CLIENT}}">
        <div class="form-text">{{tr "hcaptcha_site_key_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "hcaptcha_secret_key"}}</label>
        <input type="text" class="form-control" name="HCAPTCHA_SERVER" value="{{.setting.HCAPTCHA_SERVER}}">
        <div class="form-text">{{tr "hcaptcha_secret_key_desc"}}</div>
    </div>

    <!-- site settings -->
    <div class="mb-3">
        <label class="form-label">{{tr "site_url"}}</label>
        <input type="text" class="form-control" name="SITE_URL" value="{{.setting.SITE_URL}}">
        <div class="form-text">{{tr "site_url_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "site_key"}}</label>
        <input type="text" class="form-control" name="SITE_NAME" value="{{.setting.SITE_NAME}}">
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "language"}}</label>
        <select id="select-language" class="form-select" name="LANGUAGE">
            <option value="zh_cn">Chinese Simplified</option>
            <option value="en_us">English</option>
        </select>
    </div>

    <!-- auth -->
    <div class="mb-3">
        <label class="form-label">Sign up</label>
        <select id="select-register" class="form-select" name="ALLOW_REGISTER">
            <option value="true">{{tr "enabled"}}</option>
            <option value="false">{{tr "disabled"}}</option>
        </select>
    </div>

    <!-- google oauth -->
    <div class="mb-3">
        <label class="form-label">{{tr "google_sign_in"}}</label>
        <select id="select-google-signin" class="form-select" name="GOOGLE_SIGNIN">
            <option value="true">{{tr "enabled"}}</option>
            <option value="false">{{tr "disabled"}}</option>
        </select>
        <div class="form-text">{{tr "restart_take_effect"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "google_client_id"}}</label>
        <input type="text" class="form-control" name="GOOGLE_CLIENT_ID" value="{{.setting.GOOGLE_CLIENT_ID}}">
        <div class="form-text">{{tr "restart_take_effect"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "google_secret"}}</label>
        <input type="text" class="form-control" name="GOOGLE_SECRET" value="{{.setting.GOOGLE_SECRET}}">
        <div class="form-text">{{tr "restart_take_effect"}}</div>
    </div>

    <!-- github oauth -->
    <div class="mb-3">
        <label class="form-label">{{tr "github_sign_in"}}</label>
        <select id="select-github-signin" class="form-select" name="GITHUB_SIGNIN">
            <option value="true">{{tr "enabled"}}</option>
            <option value="false">{{tr "disabled"}}</option>
        </select>
        <div class="form-text">{{tr "restart_take_effect"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "github_client_id"}}</label>
        <input type="text" class="form-control" name="GITHUB_CLIENT_ID" value="{{.setting.GITHUB_CLIENT_ID}}">
        <div class="form-text">{{tr "restart_take_effect"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "github_secret"}}</label>
        <input type="text" class="form-control" name="GITHUB_SECRET" value="{{.setting.GITHUB_SECRET}}">
        <div class="form-text">{{tr "restart_take_effect"}}</div>
    </div>

    <!-- upload settings -->
    <div class="mb-3">
        <label class="form-label">{{tr "max_image_size"}}</label>
        <input type="text" class="form-control" name="MAX_IMAGE_SIZE" value="{{.setting.MAX_IMAGE_SIZE}}">
        <div class="form-text">{{tr "max_image_size_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "max_guest_duration"}}</label>
        <input type="text" class="form-control" name="GUEST_MAX_TIME" value="{{.setting.GUEST_MAX_TIME}}">
        <div class="form-text">{{tr "max_guest_duration_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "max_user_duration"}}</label>
        <input type="text" class="form-control" name="USER_MAX_TIME" value="{{.setting.USER_MAX_TIME}}">
        <div class="form-text">{{tr "max_user_duration_desc"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "guest_upload"}}</label>
        <select id="select-guest-upload" class="form-select" name="GUEST_UPLOAD">
            <option value="true">{{tr "enabled"}}</option>
            <option value="false">{{tr "disabled"}}</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "allow_avif_encoding"}}</label>
        <select id="select-avif-encoding" class="form-select" name="AVIF_ENCODING">
            <option value="true">{{tr "enabled"}}</option>
            <option value="false">{{tr "disabled"}}</option>
        </select>
        <div class="form-text">{{tr "allow_avif_encoding_desc"}}</div>
    </div>
    
    <div class="mb-3">
        <label class="form-label">{{tr "allow_webp_encoding"}}</label>
        <select id="select-webp-encoding" class="form-select" name="WEBP_ENCODING">
            <option value="true">{{tr "enabled"}}</option>
            <option value="false">{{tr "disabled"}}</option>
        </select>
        <div class="form-text">{{tr "allow_webp_encoding_desc"}}</div>
    </div>

    <script>
        document.getElementById("select-register").value = "{{.setting.ALLOW_REGISTER}}";
        document.getElementById("select-guest-upload").value = "{{.setting.GUEST_UPLOAD}}";
        document.getElementById("select-captcha").value = "{{.setting.CAPTCHA}}";
        document.getElementById("select-google-signin").value = "{{.setting.GOOGLE_SIGNIN}}";
        document.getElementById("select-github-signin").value = "{{.setting.GITHUB_SIGNIN}}";
        document.getElementById("select-avif-encoding").value = "{{.setting.AVIF_ENCODING}}";
        document.getElementById("select-language").value = "{{.setting.LANGUAGE}}";
        document.getElementById("select-webp-encoding").value = "{{.setting.WEBP_ENCODING}}";
    </script>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">{{tr "submit"}}</button>
    </div>
    
</form>


{{template "footer" .}}