{{template "header_no_navbar" .}}

<div class="modal" tabindex="-1" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{.dialog}}</h5>
            </div>
            <div class="modal-body">
                <p>{{.msg}}</p>
            </div>
            {{if .link}}
            <div class="modal-footer">
                <a href="{{.link}}" class="btn btn-primary">
                    {{.btn}}
                </a>
            </div>
            {{end}}
        </div>
    </div>
</div>

<script>
    const m = new bootstrap.Modal('#modal1', {});
    m.show();
</script>

{{template "footer"}}