{{template "header" .}}

<script>
    const link = "{{.site_url}}/i/{{.file_name}}";
    function copyLink() {
        navigator.clipboard.writeText(link);
    }
    function copyMarkdown() {
        navigator.clipboard.writeText(`![${link}](${link})`);
    }
</script>

{{if .own}}

<div class="border p-3 m-2 rounded">
    <p id="uploaded-at">{{tr "uploaded_at"}}:</p>
    <p id="expire-at">{{tr "expire_at"}}</p>
    <form method="post" action="/dashboard/images/delete">
        {{template "csrf" .csrf_token}}
        <input type="hidden" name="file_name" value="{{.file_name}}">
        <button class="btn btn-outline-danger">{{tr "delete"}}</button>
    </form>
</div>

<script>
    const uploadedAt = +"{{.uploaded_at}}";
    const expireAt = +"{{.expire}}";
    document.getElementById("uploaded-at").innerText += " " + new Date(uploadedAt * 1000).toLocaleString();
    if (expireAt > 0) {
        document.getElementById("expire-at").innerText += " " + new Date(expireAt * 1000).toLocaleString();
    } else {
        document.getElementById("expire-at").innerText += " Never";
    }
</script>

{{end}}

<div class="border p-3 m-2 rounded">
    <div class="btn btn-outline-primary" onclick="copyLink()">{{tr "copy_link"}}</div>
    <div class="btn btn-outline-primary" onclick="copyMarkdown()">{{tr "copy_markdown"}}</div>
</div>

<div class="border p-3 m-2 rounded">
    <img src="/i/{{.file_name}}" class="w-100">
</div>


{{template "footer"}}