{{template "header" .}}

<h1>{{tr "register"}}</h1>


<form method="post" action="/register">

    {{template "csrf" .csrf_token}}

    <div class="mb-3">
        <label class="form-label">{{tr "username"}}</label>
        <input type="text" class="form-control" name="username" required>
        <div class="form-text">{{tr "password_prompt"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "email"}}</label>
        <input type="email" class="form-control" name="email" required>
        <div class="form-text">{{tr "email_prompt"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "password"}}</label>
        <input type="password" class="form-control" name="password" required>
        <div class="form-text">{{tr "password_prompt"}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "confirm_password"}}</label>
        <input type="password" class="form-control" name="password2" required>
    </div>

    {{template "captcha" .}}

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">{{tr "register"}}</button>
    </div>

</form>


{{template "footer" .}}