{{template "header" .}}

<h1>Edit Storage Driver</h1>


<form method="post">

    {{template "csrf" .csrf_token}}
    
    <div class="mb-3">
        <label class="form-label">{{tr "name"}}</label>
        <input type="text" class="form-control" value="{{.storage.Name}}" disabled name="name">
    </div>

    <div class="mb-3">
        <label class="form-label">{{tr "storage_type"}}</label>
        <select class="form-select" id="select-type" disabled name="type">
            <option value="s3">S3</option>
            <option value="local">Local</option>
            <option value="ftp">FTP</option>
            <option value="webdav">WebDAV</option>
        </select>
    </div>

    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" name="enabled" id="check-enabled">
        <label class="form-check-label">{{tr "enable"}}</label>
    </div>

    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" name="allow_upload" id="check-allow-upload">
        <label class="form-check-label">{{tr "allow_upload"}}</label>
    </div>

    <hr>

    <!-- Configuration for local storage -->
    {{ if eq .storage.Type "local"}}
    <div class="mb-3">
        <label class="form-label">{{tr "path"}}</label>
        <input type="text" class="form-control" value="{{.config.path}}" name="config_path">
    </div>
    {{ end }}

    <!-- Configuration for s3 -->
    {{ if eq .storage.Type "s3"}}
    <div class="mb-3">
        <label class="form-label">{{tr "key_id"}}</label>
        <input type="text" class="form-control" value="{{.config.key_id}}" name="config_key_id">
    </div>
    <div class="mb-3">
        <label class="form-label">Secret</label>
        <input type="text" class="form-control" value="{{.config.secret}}" name="config_secret">
    </div>
    <div class="mb-3">
        <label class="form-label">Token</label>
        <input type="text" class="form-control" value="{{.config.token}}" name="config_token">
    </div>
    <div class="mb-3">
        <label class="form-label">Endpoint</label>
        <input type="text" class="form-control" value="{{.config.endpoint}}" name="config_endpoint">
    </div>
    <div class="mb-3">
        <label class="form-label">Region</label>
        <input type="text" class="form-control" value="{{.config.region}}" name="config_region">
    </div>
    <div class="mb-3">
        <label class="form-label">Bucket Name</label>
        <input type="text" class="form-control" value="{{.config.bucket}}" name="config_bucket">
    </div>
    <div class="mb-3">
        <label class="form-label">{{tr "s3_public_url"}}</label>
        <input type="text" class="form-control" value="{{.config.public_url}}" name="config_public_url" placeholder="https://s3.us-west-2.amazonaws.com/YOUR_BUCKET_NAME">
        <div class="form-text">{{tr "s3_public_url_desc"}}</div>
    </div>
    {{ end }}

    <!-- Configuration for FTP -->
    {{ if eq .storage.Type "ftp"}}
    <div class="mb-3">
        <label class="form-label">{{tr "address"}}</label>
        <input type="text" class="form-control" value="{{.config.address}}" name="config_address">
    </div>
    <div class="mb-3">
        <label class="form-label">{{tr "user"}}</label>
        <input type="text" class="form-control" value="{{.config.user}}" name="config_user">
    </div>
    <div class="mb-3">
        <label class="form-label">{{tr "password"}}</label>
        <input type="text" class="form-control" value="{{.config.password}}" name="config_password">
    </div>
    {{ end }}

    <!-- Configuration for WebDAV -->
    {{ if eq .storage.Type "webdav"}}
    <div class="mb-3">
        <label class="form-label">Endpoint</label>
        <input type="text" class="form-control" value="{{.config.endpoint}}" name="config_endpoint">
    </div>
    <div class="mb-3">
        <label class="form-label">{{tr "user"}}</label>
        <input type="text" class="form-control" value="{{.config.user}}" name="config_user">
    </div>
    <div class="mb-3">
        <label class="form-label">{{tr "password"}}</label>
        <input type="text" class="form-control" value="{{.config.password}}" name="config_password">
    </div>
    {{ end }}

    <button class="btn btn-primary">{{tr "save"}}</button>
</form>

<script>
    document.getElementById("select-type").value = "{{.storage.Type}}";
    document.getElementById("check-enabled").checked = "{{.storage.Enabled}}" === "true";
    document.getElementById("check-allow-upload").checked = "{{.storage.AllowUpload}}" === "true";
</script>

{{template "footer"}}