{{template "header" .}}

<h1>{{tr "storage_drivers"}}</h1>


<div class="alert alert-warning" role="alert">
    {{tr "restart_for_settings_to_apply"}}
</div>

{{ $csrf_token := .csrf_token}}

<div class="overflow-x-scroll text-nowrap">
    <table class="table" id="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{tr "name"}}</th>
                <th scope="col">{{tr "type"}}</th>
                <th scope="col">{{tr "enabled"}}</th>
                <th scope="col">{{tr "allow_upload"}}</th>
                <th scope="col">{{tr "actions"}}</th>
            </tr>
        </thead>
        <tbody>
            {{range .storages}}
            <tr>
                <th scope="row">{{ .Id }}</th>
                <td>{{ .Name }}</td>
                <td>{{ .Type }}</td>
                {{ if .Enabled }}
                <td><span class="badge text-bg-success">TRUE</span></td>
                {{ else }}
                <td><span class="badge text-bg-danger">FALSE</span></td>
                {{ end }}
                {{ if .AllowUpload }}
                <td><span class="badge text-bg-success">TRUE</span></td>
                {{ else }}
                <td><span class="badge text-bg-danger">FALSE</span></td>
                {{ end }}
                <td>
                    <form action="/admin/storages/delete/{{.Id}}" method="post">
                        {{template "csrf" $csrf_token}}
                        <a href="/admin/storages/{{.Id}}" class="btn btn-outline-primary btn-sm">
                            {{tr "edit"}}
                        </a>
                        <button type="submit" class="btn btn-outline-danger btn-sm">{{tr "delete"}}</button>
                    </form>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6">{{tr "no_storage_driver_found"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

<div class="card mt-3">
    <div class="card-header">
        {{tr "add_new_storage_driver"}}
    </div>

    <div class="card-body">

        <form action="/admin/storages" method="post">

            {{template "csrf" .csrf_token}}

            <div class="mb-3">
                <label class="form-label">{{tr "storage_driver"}}</label>
                <select class="form-select" name="type" required>
                    <option value="s3" selected>S3</option>
                    <option value="local">Local</option>
                    <option value="ftp">FTP</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">{{tr "name"}}</label>
                <input type="text" class="form-control" value="" name="name" required>
            </div>

            <button class="btn btn-primary">{{tr "submit"}}</button>

        </form>
    </div>
</div>

{{template "footer"}}