{{template "header" .}}

{{if and (not .user) (not .guest_upload)}}
<div class="alert alert-warning my-3" role="alert">
    {{tr "login_requried_before_uploading"}}
    <a href="/login">{{tr "login"}}</a>
</div>
{{end}}

{{template "unverified_email" .}}

<!-- Image editor -->
{{template "image_editor"}}
<div class="modal fade" tabindex="-1" id="modal-image-editor">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{tr "image_editor"}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <imgu2-editor id="editor"></imgu2-editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{tr "close"}}</button>
                <button type="button" class="btn btn-primary" id="btn-editor-save" data-bs-dismiss="modal">{{tr "save"}}</button>
            </div>
        </div>
    </div>
</div>

<div id="file-area" class="my-3 py-5 border shadow rounded bg-dark text-center">
    <div>
        <div>
            <img style="display: none;" id="preview" class="mw-100">
        </div>
        <button id="btn-edit" type="button" class="btn btn-outline-primary my-2" style="display: none;">Quick Edit</button>
        <div id="prompt" class="py-5">{{tr "upload_prompt"}}</div>
    </div>
</div>

<input type="file" id="file-input" class="d-none" accept="image/png,image/jpeg,image/gif,image/webp,application/pdf,image/svg+xml" multiple>

<div class="mb-2">
    <label class="form-label">{{tr "auto_deletion"}}</label>
    <select class="form-select" id="selectExpire">
        <option value="0" selected>Never</option>
        <option value="300">5 minutes</option>
        <option value="600">10 minutes</option>
        <option value="1800">30 minutes</option>
        <option value="3600">1 hour</option>
        <option value="21600">6 hours</option>
        <option value="43200">12 hours</option>
        <option value="86400">24 hours</option>
        <option value="172800">2 days</option>
        <option value="604800">1 week</option>
        <option value="2592000">30 days</option>
        <option value="15552000">180 days</option>
    </select>
</div>

<div class="mb-2">
    <label class="form-label">{{tr "image_format_conversion"}}</label>
    <select class="form-select" id="selectFormat">
        <option value="webp" selected>WebP (animated)</option>
        <option value="png">PNG</option>
        <option value="jpeg">JPEG</option>
        <option value="gif">GIF (animated)</option>
        {{ if .avif_enabled }}<option value="avif">AVIF</option>{{ end }}
    </select>
</div>

<button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvancedSettings" aria-expanded="false" aria-controls="advanced settings">
    {{tr "upload_advanced_settings"}}
</button>

<div class="collapse" id="collapseAdvancedSettings">

    <div class="mb-2">
        <label class="form-label">{{tr "upload_lossless"}}</label>
        <select class="form-select" id="encoding_lossless">
            <option value="false" selected>{{tr "enabled"}}</option>
            <option value="true">{{tr "disabled"}}</option>
        </select>
    </div>
    
    <div class="mb-2">
        <label class="form-label">{{tr "upload_quality"}}</label>
        <input class="form-control" type="number" value="-1" id="encoding_quality"></input>
    </div>
    
    <div class="mb-2">
        <label class="form-label">{{tr "upload_effort"}}</label>
        <input class="form-control" type="number" value="-1" id="encoding_effort"></input>
    </div>

</div>

{{template "captcha" .}}

<div class="my-3 d-grid">
    <button type="button" class="btn btn-primary" id="btn-upload">{{tr "upload"}}</button>
</div>

<div class="my-3 progress" role="progress" style="display: none;" id="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%" id="progressbar"></div>
</div>

<script>
    (function() {
        const csrf_token = "{{.csrf_token}}";
        const max_duration = +"{{.max_time}}";
        const recaptcha = "{{.recaptcha_client}}" !== "";
        const hCaptcha = "{{.hcaptcha_client}}" !== "";

        const fileArea = document.getElementById("file-area");
        const fileInput = document.getElementById("file-input");
        const preview = document.getElementById("preview");
        const promptElement = document.getElementById("prompt");
        const btn = document.getElementById("btn-upload");
        const selectExpire = document.getElementById("selectExpire");
        const progress = document.getElementById("progress");
        const progressbar = document.getElementById("progressbar");
        const btnEdit = document.getElementById("btn-edit");
        const editor = document.getElementById("editor");
        const btnEditorSave = document.getElementById("btn-editor-save");

        const selectFormat = document.getElementById("selectFormat");
        const lossless = document.getElementById("encoding_lossless");
        const Q = document.getElementById("encoding_quality");
        const effort = document.getElementById("encoding_effort")

        // remove unavailable auto delete options in the drop down
        if (max_duration !== 0) {
            while (+(selectExpire.children[selectExpire.children.length - 1].value) > max_duration && +selectExpire.children[selectExpire.children.length - 1].value !== 0) {
                selectExpire.children[selectExpire.children.length - 1].remove();
            }
            selectExpire.children[0].remove(); // remove "never"
        }

        let arrayBuffer; // ArrayBuffer

        // load image preview
        function loadPreview(mimeType) {
            if (!arrayBuffer) return;
            preview.style.display = "";
            promptElement.style.display = "none";

            if (mimeType.startsWith("image/")) {
                if (mimeType !== "image/svg+xml") { // svg image is not rendered in the editor for some reason
                    btnEdit.style.display = "";
                }
                
                const url = URL.createObjectURL(new Blob([ arrayBuffer ], { type: mimeType }));
                preview.src = url;
            } else {
                btnEdit.style.display = "none";
                preview.src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSI0OHB4Ij48cGF0aCBkPSJNMzIwLTI0MGgzMjB2LTgwSDMyMHY4MFptMC0xNjBoMzIwdi04MEgzMjB2ODBaTTI0MC04MHEtMzMgMC01Ni41LTIzLjVUMTYwLTE2MHYtNjQwcTAtMzMgMjMuNS01Ni41VDI0MC04ODBoMzIwbDI0MCAyNDB2NDgwcTAgMzMtMjMuNSA1Ni41VDcyMC04MEgyNDBabTI4MC01MjB2LTIwMEgyNDB2NjQwaDQ4MHYtNDQwSDUyMFpNMjQwLTgwMHYyMDAtMjAwIDY0MC02NDBaIiBmaWxsPSIjZmZmZmZmIi8+PC9zdmc+Cg==";
            }
        }

        fileArea.addEventListener("click", (e) => {
            fileInput.click();
        });

        fileInput.addEventListener("change", (e) => {
            const file = fileInput.files[0];
            if (!file) return;

            const reader = new FileReader();
            reader.addEventListener("load", (e) => {
                arrayBuffer = e.target.result;
                loadPreview(file.type);
            });
            reader.readAsArrayBuffer(file);
        });

        // open editor
        btnEdit.addEventListener("click", (e) => {
            e.stopPropagation();
            const modal = new bootstrap.Modal(document.getElementById('modal-image-editor'), {});
            modal.show();
            editor.loadImage(arrayBuffer);
        });

        // editor save
        btnEditorSave.addEventListener("click", () => {
            editor.exportImage(async (blob) => {
                arrayBuffer = await blob.arrayBuffer();
                loadPreview("image/png");
            })
        })

        // upload
        btn.addEventListener("click", () => {
            if (!arrayBuffer) return;

            if ((recaptcha && !grecaptcha.getResponse()) || hCaptcha && !hcaptcha.getResponse()) {
                alert("CAPTCHA is not completed");
                return;
            }

            uploading = true;

            // hide button & show progress bar
            btn.style.display = "none";
            progress.style.display = "";

            // disable selector
            selectExpire.setAttribute("disabled", "disabled");
            selectFormat.setAttribute("disabled", "disabled");

            const xhr = new XMLHttpRequest();

            xhr.upload.addEventListener("progress", (e) => {
                // progress
                progressbar.style.width = (e.loaded / e.total * 100) + "%";
            });

            xhr.addEventListener("load", () => {
                if (xhr.status !== 200) {
                    if (xhr.responseText === "captcha verification failed") {
                        alert("ERROR: CAPTCHA verification failed");
                    } else if (xhr.responseText === "csrf check failed") {
                        alert("ERROR: CSRF check failed");
                    } else {
                        const resp = JSON.parse(xhr.responseText);
                        const errorText = {
                            "GUEST_UPLOAD_NOT_ALLOWED": '{{tr "error_login_required"}}',
                            "USER_BANNED": '{{tr "error_account_disabled"}}',
                            "EMAIL_NOT_VERIFIED": '{{tr "error_email_unverified"}}',
                            "EXPIRE_TOO_LARGE": '{{tr "error_expire_too_large"}}',
                            "FILE_TOO_LARGE": '{{tr "error_file_too_large"}}',
                            "IMAGE_PROCESSING_ERROR": '{{tr "error_image_processing"}}',
                            "INTERNAL_STORAGE_ERROR": '{{tr "error_storage"}}',
                            "UNSUPPORTED_ENCODING": '{{tr "error_unsupported_format"}}'
                        }
                        alert("ERROR: " + errorText[resp.error] || resp.error);
                    }
                    
                    location.reload();
                    return;
                }

                const resp = JSON.parse(xhr.responseText);
                location.href = "/preview/" + resp.file_name;
            })

            xhr.addEventListener("error", (e) => {
                console.log(e)
                alert("XMLHttpRequest error");
                location.reload()
            })

            xhr.open("POST", "/upload");

            const formData = new FormData();
            formData.set("file", new Blob([arrayBuffer]));
            formData.set("expire", selectExpire.value);
            formData.set("format", selectFormat.value);
            formData.set("lossless", lossless.value);
            formData.set("Q", Q.value);
            formData.set("effort", effort.value);
            formData.set("csrf_token", csrf_token);
            if (recaptcha) formData.set("g-recaptcha-response", grecaptcha.getResponse());
            if (hCaptcha) formData.set("h-captcha-response", hcaptcha.getResponse());

            xhr.send(formData);
        });
    })();
    
</script>

{{template "footer" .}}